
<div id="player_{{ id }}" class="player">

    <div class="controls">
    	
    	<div class="controls-wrap">
	        <div class="play">
	        	
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="15px" height="15px" viewBox="0 0 15 15" enable-background="new 0 0 15 15" xml:space="preserve">
				<polygon fill="#736E6B" points="0,15 0,0 15,7.5 "/>
				</svg>

	        </div>
	        
	        <div class="pause" style="display:none">
		       
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="15px" height="15px" viewBox="0 0 15 15" enable-background="new 0 0 15 15" xml:space="preserve">
				<rect y="1.5" fill="#736E6B" width="5.008" height="12"/>
				<rect x="7.492" y="1.5" fill="#736E6B" width="5.008" height="12"/>
				</svg>

				
			</div>
	        
	        
	        <div class="stop">
	        	
	        	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="15px" height="15px" viewBox="0 0 15 15" enable-background="new 0 0 15 15" xml:space="preserve">
				<rect x="1.5" y="1.5" fill="#736E6B" width="12" height="12"/>
				</svg>
				
	        </div>
	    </div>
	    
    </div>
    
    <div class="scrubber-wrap">
        <input class="scrubber" type="range" value="0">
    </div>
    <div class="times">
        <span class="time">0:00</span> | <span class="duration">0:00</span>
    </div>
    
    <div class="volume">
    	
										    	
		<svg version="1.1" id="volume_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 width="21.75px" height="19.875px" viewBox="0 -4.875 21.75 19.875" enable-background="new 0 -4.875 21.75 19.875"
			 xml:space="preserve">
		<polygon fill="#736E6B" points="1.724,3.61 1.724,10.133 7.795,10.133 10.434,12.112 10.434,1.159 7.267,3.535 "/>
		<g>
			<path fill="#736E6B" d="M13.548,12.638l-0.746-0.857c1.488-1.297,2.343-3.171,2.343-5.145c0-1.888-0.754-3.645-2.123-4.946
				l0.783-0.823c1.598,1.519,2.477,3.567,2.477,5.77C16.281,8.938,15.284,11.125,13.548,12.638z"/>
		</g>
		<g>
			<path fill="#736E6B" d="M15.856,15l-0.761-0.844c2.127-1.917,3.348-4.659,3.348-7.521c0-2.832-1.198-5.553-3.288-7.467l0.769-0.838
				c2.323,2.128,3.656,5.155,3.656,8.305C19.58,9.818,18.223,12.867,15.856,15z"/>
		</g>
		</svg>

				
   	    <input type="range" id="volume_slider" min=0 max=1 step=0.01 value='1'>
    </div>

</div>

